[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
requests = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.7"
